mat-grid-tile {
  background: rgb(210, 211, 216);
}
.bum{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.top{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
