<p>todo-list works!</p>
<h3>list here</h3>
<section>
  <div class="example-label">Icon</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon fontIcon="home">more_vert</mat-icon>
      </button>
      <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
        <mat-icon>open_in_new</mat-icon>
      </button>
      <button ng-click="newTask()" mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
</section>


